@page "/"
@using SimpleBlazorGrid.Website.Data
@using SimpleBlazorGrid.DataSource
@using Humanizer
@using SimpleBlazorGrid.Formatting
@using SimpleBlazorGrid.Website.Pages.Shared

@inject MovieRepo MovieRepo
@inject NavBarService NavBarService

<div class="top">
    <h1>SIMPLE BLAZOR GRID</h1>
    <p>A free and easy way to simplify your Blazor data tables!</p>
</div>

<div class="bottom">
    <div class="container">
        <div class="features">
            <h3>Features</h3>
            <ul>
                <li>Supports .NET 6 / 7 +</li>
                <li>Easily configure sorting and pagination</li>
                <li>Simple filter components make data filtering a breeze!</li>
                <li>Works with Blazor WASM and Blazor Server</li>
                <li>100% free and open source (MIT)</li>
                <li>Entity Framework integration available</li>
            </ul>

            <div class="buttons">
                <div>
                    <a>
                        <button type="button">Download from Nuget</button>
                    </a>
                </div>
                <div>
                    <a href="/documentation">
                        <button type="button">Documentation</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="table">
            <SimpleGrid
                TType="Movie"
                Title="IMDB Top 100 Movies"
                Subtitle="by user rating"
                Searchable="true"
                SimpleGridDataSource="new SimpleGridEnumerableDataSource<Movie>(MovieRepo.FetchAllMovies())"
                ItemsPerPage="15">
                <Filters>
                    <SimpleStringFilter TType="Movie" For="@(x => x.Name)" IgnoreCase="true" />
                    <SimpleDateRangeFilter TType="Movie" For="@(x => x.Released)" Inclusive="true" IncludeTime="false"/>
                    <SimpleNumericRangeFilter TType="Movie" For="@(x => x.Gross)" Step="1" />
                    <SimpleStringFilter TType="Movie" For="@(x => x.Genre)" IgnoreCase="true" />
                </Filters>
                <Columns>
                    <SimpleColumn TType="Movie" For="@(x => x.Rank)" Sortable="true" Width="5" />
                    <SimpleColumn TType="Movie" For="@(x => x.Name)" Sortable="true" Searchable="true" />
                    <SimpleColumn TType="Movie" For="@(x => x.Released)" Sortable="true" Format="Format.ShortDate" Width="15" />
                    <SimpleColumn TType="Movie" For="@(x => x.Director)" Searchable="true" Width="15" />
                    <SimpleColumn TType="Movie" For="@(x => x.Runtime)" Sortable="true" Width="10">
                        <SimpleColumnTemplate Context="item">
                            <span>@item.Runtime mins</span>
                        </SimpleColumnTemplate>
                    </SimpleColumn>
                    <SimpleColumn TType="Movie" For="@(x => x.Gross)" Format="Format.Money" Sortable="true" Heading="Box Office" Width="15"/>
                    <SimpleColumn TType="Movie" For="@(x => x.Genre)" Width="20" Searchable="true" />
                </Columns>
            </SimpleGrid>
        </div>
    </div>
</div>

@code
{
    protected override void OnInitialized()
    {
        NavBarService.SetNavBarSection(NavSection.Index);
        base.OnInitialized();
    }
}
