@* ReSharper disable once CheckNamespace *@
@namespace SimpleBlazorGrid

@typeparam TType;

@inherits SimpleBlazorGrid.Filters.Filter<TType>

@if (ShouldShowFilter)
{
    <div class="sdg-filter">
        <div class="sdg-filter-container">
            <h2>Filter by @PropertyName</h2>
            <div class="sdg-filter-inputs">
                @if (IncludeTime)
                {
                    <input type="datetime-local" 
                           min="@(Min.HasValue ? @Min.Value.ToString("yyyy-MM-ddTHH:mm") : "")" 
                           max="@(Max.HasValue ? @Max.Value.ToString("yyyy-MM-ddTHH:mm") : "")" 
                           @bind-value="LowValue" 
                           placeholder="@PropertyName"/>
                                                      
                    <input type="datetime-local" 
                           min="@(Min.HasValue ? @Min.Value.ToString("yyyy-MM-ddTHH:mm") : "")" 
                           max="@(Max.HasValue ? @Max.Value.ToString("yyyy-MM-ddTHH:mm") : "")" 
                           @bind-value="HighValue" 
                           placeholder="@PropertyName"/>
                }
                else
                {
                    <input type="date" 
                           min="@(Min.HasValue ? @Min.Value.ToString("yyyy-MM-dd") : "")" 
                           max="@(Max.HasValue ? @Max.Value.ToString("yyyy-MM-dd") : "")" 
                           @bind-value="LowValue" 
                           placeholder="@PropertyName"/>
                                                      
                    <input type="date" 
                           min="@(Min.HasValue ? @Min.Value.ToString("yyyy-MM-dd") : "")" 
                           max="@(Max.HasValue ? @Max.Value.ToString("yyyy-MM-dd") : "")" 
                           @bind-value="HighValue" 
                           placeholder="@PropertyName"/>
                }
            </div>
            <div class="sdg-filter-buttons">
                <div class="clear">
                    <button @onclick="Clear">Clear</button>
                </div>
                <div class="apply">
                    <button @onclick="Apply">Apply Filter</button>
                </div>
            </div>
        </div>
    </div>
}

@code {

    [Parameter]
    public DateTime DefaultValue { get; set; }

    [Parameter]
    public DateTime? Min { get; set; }

    [Parameter]
    public DateTime? Max { get; set; }

    [Parameter]
    public bool IncludeTime { get; set; }
    
    public DateTime? LowValue { get; set; }
    public DateTime? HighValue { get; set; }
}