@* ReSharper disable once CheckNamespace *@
@namespace SimpleBlazorGrid

@using System.Linq.Expressions
@using SimpleBlazorGrid.Extensions

@typeparam TType;
@typeparam TEnum where TEnum : Enum;

@inherits SimpleBlazorGrid.Filters.EnumFilter<TType>

@if (ShouldShowFilter)
{
    <div class="sdg-filter">
        <div class="sdg-filter-container">
            <h2>Filter by @HeadingName</h2>
            <div class="sdg-filter-inputs">
                @if (AllowMultiple)
                {
                    <select @onchange="SelectionChanged" multiple="multiple">
                        @foreach (var item in PermittedValues)
                        {
                            <option value="@item">@item.ToString()</option>
                        }
                    </select>
                }
                else
                {
                    <select @onchange="SelectionChanged">
                        <option>Select @PropertyName to filter by...</option>

                        @foreach (var item in PermittedValues)
                        {
                            <option value="@item">@item.ToString()</option>
                        }
                    </select>
                }
            </div>
            <div class="sdg-filter-buttons">
                <div class="clear">
                    <button @onclick="Clear">Clear</button>
                </div>
                <div class="apply">
                    <button @onclick="Apply">Apply Filter</button>
                </div>
            </div>
        </div>
    </div>
}

@code {

    /// <summary>
    /// Allows for only certain enum values to be allowed to be selected, if not set then all enum values are eligible
    /// </summary>
    [Parameter]
    public List<TEnum> PermittedValues { get; set; } = new();

    /// <summary>
    /// If set, the filter will be enabled when the table loads with the provided values
    /// </summary>
    [Parameter]
    public List<TEnum> DefaultValues { get; set; } = new();
    
    /// <summary>
    /// Allows for multiple or single values to be selected, default: false
    /// </summary>
    [Parameter]
    public override bool AllowMultiple { get; set; }

    public override List<string> SelectedValues { get; set; }

    protected override async Task OnInitializedAsync()
    {
        EnumType = typeof(TEnum);
        
        if (PermittedValues == null || !PermittedValues.Any())
        {
            var values = Enum.GetValues(typeof(TEnum));
            PermittedValues = values.Cast<TEnum>().ToList();
        }

        if (DefaultValues.Any())
        {
            SelectedValues = DefaultValues.Select(x => x.ToString()).ToList();
            await Apply();
        }
        
        await base.OnInitializedAsync();
    }

    private void SelectionChanged(ChangeEventArgs obj)
    {
        SelectedValues = new List<string>();

        switch (obj.Value)
        {
            case string[] selectedValues:
            {
                foreach (var selectedValue in selectedValues)
                {
                    SelectedValues.Add(selectedValue);
                }
                break;
            }
            case string selectedValue:
                SelectedValues.Add(selectedValue);
                break;
            case null:
                break;
        }
    }
}