@* ReSharper disable once CheckNamespace *@
@namespace SimpleBlazorGrid.Internal

@typeparam TType

@using SimpleBlazorGrid.Options

<div class="simpleDG_footer">
    <div>
        <small>Displaying Page: @(PageOptions.CurrentPage + 1) of @PageOptions.MaxPage (@PageOptions.TotalItemCount total records)</small>
    </div>

    @if (SimpleGrid.PageOptions != null)
    {
        <div class="simpleDg_footer_paging">
            @* First page shortcut *@
            <_DataGridPagingControl PageIndex="0" Selected="@(SimpleGrid.PageOptions.CurrentPage == 0)" Glyph="F" OnChangePage="ChangePage"/>

            @foreach (var page in Pages())
            {
                <_DataGridPagingControl PageIndex="page" Selected="@(page == SimpleGrid.PageOptions.CurrentPage)" OnChangePage="ChangePage"/>
            }

            @* Last page shortcut *@
            <_DataGridPagingControl PageIndex="@(SimpleGrid.PageOptions.MaxPage - 1)" Selected="@(SimpleGrid.PageOptions.CurrentPage == SimpleGrid.PageOptions.MaxPage - 1)" Glyph="L" OnChangePage="PageChanged"/>
        </div>
    }
</div>

@code {
    [CascadingParameter]
    public SimpleGrid<TType> SimpleGrid { get; set; }

    [Parameter]
    public PageOptions PageOptions { get; set; }

    [Parameter]
    public EventCallback<int> PageChanged { get; set; }

    private List<int> Pages()
    {
        var result = new List<int>();

        if (SimpleGrid.PageOptions.CurrentPage > 0)
        {
            // If we are on the very last page we should add the page before the previous if possible
            if (SimpleGrid.PageOptions.CurrentPage == SimpleGrid.PageOptions.MaxPage - 1)
            {
                var twoPagesBackIndex = SimpleGrid.PageOptions.CurrentPage - 2;
                if (twoPagesBackIndex >= 0)
                {
                    result.Add(twoPagesBackIndex);
                }
            }
            
            // Add previous page if we are not on the first page
            result.Add(SimpleGrid.PageOptions.CurrentPage - 1);
        }

        // Add the curent page
        result.Add(SimpleGrid.PageOptions.CurrentPage);

        // Add the next page where possible
        if (SimpleGrid.PageOptions.CurrentPage < SimpleGrid.PageOptions.MaxPage - 1)
        {
            result.Add(SimpleGrid.PageOptions.CurrentPage + 1);
            
            // If we are on the very first page then add the third page if possible
            if (SimpleGrid.PageOptions.CurrentPage == 0 && SimpleGrid.PageOptions.MaxPage - 1 >= 2)
            {
                result.Add(2);
            }
        }

        return result;
    }

    private async Task ChangePage(int newPage)
    {
        if (SimpleGrid.PageOptions.CurrentPage == newPage)
            return;
        
        await PageChanged.InvokeAsync(newPage);
    }
}