@* ReSharper disable once CheckNamespace *@
@namespace SimpleBlazorGrid

@using SimpleBlazorGrid.Options

<div style="width: 50%">
    <small>Displaying Page: @(PageOptions.CurrentPage + 1) of @PageOptions.MaxPage (@PageOptions.TotalItemCount total records)</small>
</div>

<div style="width: 50%">
@for (var i = 0; i < PageOptions.MaxPage; i++)
{
    var pageIndex = i;
    if (PageOptions.CurrentPage == i)
    {
        <p @onclick="@(async () => await ChangePage(pageIndex))"><strong>@(i + 1)</strong></p>
    }
    else
    {
        <p @onclick="@(async () => await ChangePage(pageIndex))">@(i + 1)</p>
    }
}
</div>

@code {
    [Parameter]
    public PageOptions PageOptions { get; set; }

    [Parameter]
    public EventCallback<int> PageChanged { get; set; }

    private async Task ChangePage(int newPage)
    {
        await PageChanged.InvokeAsync(newPage);
    }
}