@* ReSharper disable once CheckNamespace *@
@namespace SimpleBlazorGrid

@using SimpleBlazorGrid.Interfaces
@using SimpleBlazorGrid.Options

@typeparam TType

@* <th class="@(Column.Sortable ? "simpleDG_sortable" : "")" @onclick="Sort"> *@
@* *@
@*     <div style="display: flex; flex-direction: row; justify-content: space-between;"> *@
@* *@
@*         $1$ TODO - Figure out how to position the filter icon properly #1# *@
@*         @if (Filter is not null) *@
@*         { *@
@*             <div class="simpleDG_filter_icon" @onclick="@(async () => await ShowFilter.InvokeAsync(Filter))"> *@
@*                 <DataGridFilterGlyph/> *@
@*             </div> *@
@*         } *@
@* *@
@*         <div style="width: @(CalculateHeadingWidth())%"> *@
@*             @Column.Heading *@
@*         </div> *@
@* *@
@*         @if (Column.Sortable) *@
@*         { *@
@*             <div style="width: 15%"> *@
@*                 <DataGridSortGlyph Ascending="SortAscending" Active="@(Column.Property == SortOptions.Property)"/> *@
@*             </div> *@
@*         } *@
@*     </div> *@
@* </th> *@

<th>

    <div style="display: flex; flex-direction: row; justify-content: space-evenly;">

        @* TODO - Figure out how to position the filter icon properly *@
        @if (Filter is not null)
        {
            <div style="width: 20px; position: relative; aspect-ratio: 1; cursor: pointer" @onclick="@(async () => await ShowFilter.InvokeAsync(Filter))">
                <DataGridFilterGlyph Active="Filter.Active"/>
            </div>
        }

        <div style="flex-grow: 4; padding-left: 5px">
            @Column.Heading
        </div>

        @if (Column.Sortable)
        {
            <div style="width: 20px; position: relative; aspect-ratio: 1; cursor: pointer" @onclick="Sort">
                <DataGridSortGlyph Ascending="SortAscending" Active="@(Column.Property == SortOptions.Property)"/>
            </div>
        }
    </div>
</th>

@code {

    [CascadingParameter]
    public IDataGrid<TType> SimpleGrid { get; set; }

    [Parameter]
    public IColumn<TType> Column { get; set; }

    [Parameter]
    public SortOptions SortOptions { get; set; }

    [Parameter]
    public bool SortAscending { get; set; }

    [Parameter]
    public IFilter<TType> Filter { get; set; }

    [Parameter]
    public EventCallback<IFilter<TType>> ShowFilter { get; set; }

    private void Sort()
    {
        if (!Column.Sortable)
            return;

        SimpleGrid.Sort(Column.Property, SortAscending);
    }

    private int CalculateHeadingWidth()
    {
        if (Filter is not null && Column.Sortable)
            return 70;

        if (Filter is not null || Column.Sortable)
            return 85;

        return 100;
    }

}