@* ReSharper disable once CheckNamespace *@
@namespace SimpleBlazorGrid

@using SimpleBlazorGrid.Interfaces
@using SimpleBlazorGrid.Options

@typeparam TType

<th class="@(Column.Sortable ? "simpleDG_sortable" : "")" style="@(Column.Width != null ? $"width: {Column.Width.Value}%" : "")" @onclick="Sort">
    <div style="display: flex; flex-direction: row; justify-content: space-between;">

        <div style="width: @(Column.Sortable ? 85 : 100)%">
            @Column.Heading
        </div>

        @if (Column.Sortable)
        {
            <div style="width: 15%">
                <DataGridSortGlyph Ascending="SortAscending" Active="@(Column.Property == SortOptions.Property)"/>
            </div>
        }
    </div>
</th>

@code {

    [CascadingParameter]
    public IDataGrid<TType> SimpleGrid { get; set; }

    [Parameter]
    public IColumn<TType> Column { get; set; }

    [Parameter]
    public SortOptions SortOptions { get; set; }

    [Parameter]
    public bool SortAscending { get; set; }

    private void Sort()
    {
        if (!Column.Sortable)
            return;

        SimpleGrid.Sort(Column.Property, SortAscending);
    }
}