@* ReSharper disable once CheckNamespace *@
@namespace SimpleBlazorGrid

@using SimpleBlazorGrid.Interfaces
@using SimpleBlazorGrid.Configuration

@implements IDataGrid<TType>

@inject SimpleDataGridConfiguration Configuration

@typeparam TType

<CascadingValue Value="this">
    @ChildContent

    @if (DataGridColumns.Any())
    {
        <div>
            <table class="simpleDG" style="--simple-bg-accent: @Configuration.AccentColour">
                <thead>
                <tr>
                    @foreach (var column in DataGridColumns)
                    {
                        if (column.Sortable)
                        {
                            <th class="simpleDG_sortable" @onclick="@(() => OnSort(column.Property, SortAscending))">
                                 @column.Heading
                            </th>
                        }
                        else
                        {
                            <th>
                                @column.Heading
                            </th>
                        }
                    }
                </tr>
                </thead>
                <tbody>
                @foreach (var item in DataSource.Items())
                {
                    <DataGridRow TType="TType" Data="item" Columns="DataGridColumns"/>
                }
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="@DataGridColumns.Count">
                        <div style="display: flex">
                            <DataGridPagingControls PageOptions="DataSource.PageOptions" PageChanged="OnPageChanged"/>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    }
</CascadingValue>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public IDataGridSource<TType> DataSource { get; set; }

    [Parameter]
    public int ItemsPerPage { get; set; } = 5;

    private List<IColumn<TType>> DataGridColumns { get; set; } = new();
    private bool SortAscending { get; set; } = true;

    protected override void OnParametersSet()
    {
        DataSource.PageOptions.ItemsPerPage = ItemsPerPage;
        base.OnParametersSet();
    }

    public void AddColumn(IColumn<TType> column)
    {
        DataGridColumns.Add(column);
        StateHasChanged();
    }

    private void OnPageChanged(int newPage)
    {
        DataSource.PageOptions.CurrentPage = newPage;
        StateHasChanged();
    }

    private void OnSort(string property, bool ascending)
    {
        DataSource.SortOptions.Property = property;
        DataSource.SortOptions.Ascending = ascending;
        
        SortAscending = !SortAscending;
        StateHasChanged();
    }

}